*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
}

body{
    font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* DEBUG */

.debug{
    border: 3px dotted black;
}

.debug-red{
    border: 3px dotted red;
}




/* NAVBAR */
nav{
    justify-content: space-between;
    text-decoration: none;
    padding: 1rem;
}

.right-section{
    font-size: smaller;
}

.link>a:visited,
.link>a:link,
.link>a:active{
    text-decoration: none;
    color: black;
}

#rotate-icon{
    transform: rotate(90deg);
}

nav a{
    margin: 1rem;
}

#try-link{
    color: #0000ff;
    font-size: large;
}

main{
    margin-top: 1rem;
    padding: 1rem;
}


/* SECTION 1  */
/* section 1 A */
#about-1{
    color: #ff764d;
}

.sec-1 a{
    margin: 1rem;
}

/* -- section 1 B --*/

div.sec-1-img{
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

#title-1{
     color: #ff764d;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

div.image-1{
    position: relative;
    background-image: url(./images/section-1.jpg);
    width: 60vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECTION text  */
.section-text a{
    text-decoration: none
}

.section-text{
    margin: 1rem auto;
    width: 600px;
}

.section-bigger-text{
    font-size:x-large;
    font-weight: bold;
}


/* PHOTO SECTION  */

.section-photo{
    margin: 8rem auto;
}


.big-square-photo img{
    width: 40vw;
}

.small-rectangular-photo img{
    width: 30vw;
}

.photo-container{
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

/* COLORED CONTAINERS */

.colored-container{
    width: 60vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: -1;
}
.yellow{
    background-color: #fbffa7;
    right: 0px;
}


.green{
    background-color: #b6ffc0;
}

.lilac{
    background-color: #d5b3ff;
    transform: translateX(25%); /*controllare*/
}

/* VIDEO section 5 */

.video-section{
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video-item{
    width: 560px;
    height: 315px;
}

.video-section>p{
    align-self: flex-start;
}

/* SECTION 9*/
.section-photo>img{
    width: 80vw;
}

#big-photo-section{
    justify-content: center;
}


/* section 11 */
.lilac-section{
    justify-content:center; 
}

#lilac-photos{
    position: relative;
    width: 100vw;
    aspect-ratio: 1 / 1;
}

#lilac-photos>.small-rectangular-photo{
    position: absolute;
    left: 6rem;
    top: 25%;
}

#lilac-photos>.big-square-photo{
    position: absolute;
    right: 0px;
    top: 25%;
}

